{% extends "base.html" %}

{% block title %}
<title>ログイン</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>ログイン</h1>
    {% if msg %}
      <div class="alert alert-warning">
          {{ msg }}
      </div>
    {% endif %}
    <form method="POST">
        <label for="" class="form-label">ユーザー名</label>
        <input type="text" id="user_name" name="user_name" class="form-control">
        <label for="" class="form-label">パスワード</label>
        <input type="password" id="password" name="password" class="form-control">
        <input type="submit" id="login-btn" value="ログイン" class="btn btn-primary" disabled>
    </form>
</div>

<script src="static/js/login.js"></script>

{% endblock %}
